@import url('bulma/css/bulma.css');
@import url('material-design-icons/iconfont/material-icons.css');

.topicItem {
    position: relative;
    width: 100%;
    height: 100%;
}

.topicName {
    color: '#fff';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.topicImage {
    width: 100px;
    height: 200px;
}
